<ion-list>


  <ion-item (click)="loadc('add_favorites')" *ngIf='type=="public"'>
    افزودن به علاقه مندی
  </ion-item>
  <ion-item (click)="loadc('follow')" *ngIf='type=="public"'>
    دنبال کردن
  </ion-item>
  <ion-item (click)="loadc('comment')" *ngIf='type=="public"'>
    افزودن نظر
  </ion-item>
    <ion-item (click)="loadc('message')" *ngIf='type=="public"'>
ارسال پیام
  </ion-item>
   <ion-item  (click)="loadc('report')" *ngIf='type=="public"'>
گزارش
  </ion-item>





   <ion-item  (click)="loadc('delete')" *ngIf='type=="self"'>
     
بلاک
  </ion-item>

   <ion-item  (click)="loadc('edit')" *ngIf='type=="self"'>
ریپورت
  </ion-item>




</ion-list>