<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>{{ cat?.name }}</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>



<ion-content  class="card-background-page">

  


  
  
   <ion-card>
<img src="http://pinsood.com{{ cat?.image.url }}" style='height:200px;'/>
    <div class="card-title">{{ cat?.name }}</div>

  </ion-card>




<ion-grid>
  <ion-row>
    <ion-col col-6 *ngFor="let item of categories">
  
   <ion-card (click)='goToProducts($event,item)' style="height: 133px;
   margin:0 !important;padding:0!important;width:100%; ">
<img src="http://pinsood.com{{ item.image.url }}" style='height:200px; filter: blur(1.3px);
    -moz-filter: blur(1.3px);
    -o-filter: blur(1.3px);
    -ms-filter: blur(1.3px);'/>
    <div class="card-title">{{ item.name }}</div>

  </ion-card>


    </ion-col>

  </ion-row>

</ion-grid>
  






 


</ion-content>


  <!--<ion-slides pager autoplay="5000" loop="true" speed="3000" height="100">
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
     <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
  </ion-slides>-->