<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>درباره ما</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>

<ion-content text-center>

<div padding-top>
  <button ion-button color="dark" class="clear" style="width:80%;" large (click)="mailTo('info@pplaaza.ir')">info@pplaaza.ir</button>
  <button ion-button color="dark" class="clear" style="width:80%;" large (click)="callTo('09127105568')">تماس با پلازا</button>
  <button ion-button icon-right padding-top style="width:80%;" (click)="mailTo('mm580486@gmail.com')" large>
گزارش مشکلات اپلیکیشن
  <ion-icon name="bug" item-left padding-left></ion-icon>
  </button>





</div>






</ion-content>

<ion-footer color='danger'>
  <ion-toolbar color='danger'>
    <ion-title style="color:white;">
      طراحی و توسعه توسط چهارسو

    </ion-title>
  </ion-toolbar>
</ion-footer>