  
<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title style="font-size:large;">ورود</ion-title>

    <ion-buttons left>
        <button ion-button navPop icon-only>
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </button>
      </ion-buttons>


  </ion-navbar>

</ion-header>
 
<ion-content style="padding-top:100px !important;">
<br><br><br>
    <ion-row padding-top>
        <ion-col>
            <ion-list inset>
 
              <ion-item>
             
                  <ion-input [(ngModel)]="email" placeholder="ایمیل یا شماره تلفن" type="text" class="identity"></ion-input>
              </ion-item>



              <ion-item>
        
                  <ion-input [(ngModel)]="password" placeholder="رمز عبور" type="password" class="identity"></ion-input>
              </ion-item>

              <span style="color:darkturquoise;margin-right:10px;display:block;">
                رمز عبور خود را فراموش کرده اید ؟
              </span>




              <ion-item>
                  <br>
            
                    <button ion-button full (click)="login()" color="primary" class="next-btn" style="width:50%;margin:auto;top:0;position:relative;">ورود</button>
              </ion-item>
          
            <!-- <button ion-button full (click)="launchSignup()" color="primary" class="login-button" style="width:50%;float:left;">ساخت اکانت</button> -->

            </ion-list>
 
            
 


        </ion-col>
    </ion-row>

            
 
<p style="text-align:center;">
    

    <span style="    display: block;
    position: absolute;
    top: 86%;
    right: 26%;
    color: white;">
      آیا تا کنون ثبت نام نکرده اید ؟
    </span>
    <button ion-button full (click)="launchSignup()" color="primary" class="next-btn" style="width:50%;float:left;top:90%;background-color:transparent;border:white 1px solid;color:white;">ساخت اکانت</button>
</p>

 
</ion-content>