page-login{

    ion-content{
      
    
    background-image: url('../assets/images/bg-reg.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 101%;
    background-attachment: fixed;
}

    ion-item{
        background:transparent !important;
        color:white !important;
        border:none !important;
        input{
            border-bottom: 1px solid white !important;
            line-height: 28px !important;
        }
    }
.signup_exposition,ion-header,ion-navbar,.toolbar-background{
    background-color: transparent !important;
    border:none !important;
}
    .invalid {
        border: 1px solid #ea6153;
    }

    .next-btn{
            position: absolute;
    top: 90%;
    border-radius: 63px;
    background-color: white;
    color: red;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    }
.resend-btn{
    position: absolute;
    border-radius: 63px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}






 
 
}



.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #ffffff;
  -webkit-box-shadow: inset 0 -1px 0 0 #ffffff;
  box-shadow: inset 0 -1px 0 0 #ffffff;
}


.item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
    }

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: #ffffff;
  border-bottom:none !important;
  -webkit-box-shadow: inset 0 -1px 0 0 #ffffff;
  box-shadow: inset 0 -1px 0 0 #ffffff;
}

.item-md.item-input.input-has-focus .item-inner {
    box-shadow: none;
}

input::-moz-placeholder,input::placeholder {
    color: white !important;
  }
  
  input:-ms-input-placeholder,input::placeholder {
    color: white !important;
  }
  
input::-webkit-input-placeholder,input::placeholder {
    color: white !important;
  }

.list-md .item-input{
    color:white;
}

.next-btn.activated {
    background-color: transparent;
    border: 1px solid white;
    color:white;
    opacity: 1;
}






.full_width_alert .loading-wrapper{
    background-color: white !important;
    border:0 !important;
    box-shadow: none !important;
    color: blue;
}
.full_width_alert .loading-wrapper svg{
stroke: blue !important;
}

.full_width_alert ion-backdrop{
    opacity: 1 !important;
    background-color: white !important;
}