<ion-tabs color="danger">
  <ion-tab [root]="tab1Root" tabTitle="خانه" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="درباره ما" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="تماس با ما" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="شاخه ها" tabIcon="contacts"></ion-tab>
</ion-tabs>