<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
  
<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>ساخت محصول</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>
<ion-content class="build_product">
<div ion-fixed style="width: 100%;">
  <div style="" class="addImageBuildProduct">

    <div style="width:auto;min-width:100%;">

        <div *ngFor='let image of lastImage' style="width: 100px;height:100px;margin:20px;    border: 1px solid lightgray;    margin-right: 0;">
          
      <img  [src]="DomSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,'+image)" style="width: 100px;height:100px;" [hidden]="lastImage === null">
      <ion-icon ios="ios-close-circle" md="md-close-circle" (click)='delImage(image)' style="    float: right;
      position:relative;
      top:-100%;
        color: white;font-size:20px;
        "></ion-icon> 
    </div>

        <div (click)="presentActionSheet()" style="text-align:center;width: 100px;height:100px;margin:20px;    border: 1px solid white;">
          <ion-icon ios="ios-camera" md="md-camera" style="font-size:70px;"></ion-icon>
          <br>
        افزودن عکس
      </div>

</div>

  </div>
   
                

<h3 [hidden]="lastImage !== null">لطفا حداقل یک عکس وارد کنید</h3>


    <!-- <ion-buttons>
      <button ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>
        افزودن عکس
      </button>
   
    </ion-buttons> -->

<br>
 
    <form (ngSubmit)="logForm()">

    <ion-item class="item-borderless">
      <ion-label>کتگوری</ion-label>
      <ion-select [(ngModel)]='product.category_id' name="name" interface="action-sheet" padding>

        <ion-option *ngFor="let item of categories" value="{{ item?.id }}"  (ionSelect)="categorySelect($event,item)">{{ item?.name }}</ion-option>
      </ion-select>
    </ion-item>




      <ion-item>
     
          <ion-input placeholder='نام' [(ngModel)]="product.name" name="name"></ion-input>
      </ion-item>




      <ion-item>
     
          <ion-input placeholder='قیمت'  type="text" [(ngModel)]="product.price" name="price"></ion-input>
      </ion-item>

      <ion-item>
   
          <ion-input placeholder='تخقیف' type="text" [(ngModel)]="product.off_price" name="off_price"></ion-input>
      </ion-item>

   
          <ion-item>
              <ion-toggle checked="false"></ion-toggle>
              <ion-label>
                  جای چانه دارد ؟
              </ion-label>
              <ion-icon name='body' item-start></ion-icon>
            </ion-item>



            <ion-item *ngFor="let item of fields; let i = index;" class="item-borderless">
                <ion-label >{{item.name}}</ion-label>
          
          
          
                <ion-input *ngIf="!item.field_type=='select_box'" [(ngModel)]="product[item.permalink]" id="dynamic_field_{{ item.id }}" name="dynamic_field_{{ item.id }}"></ion-input>
          
              <ion-select *ngIf="item.field_type=='select_box'" [(ngModel)]="product[item.permalink]" id="dynamic_field_{{ item.id }}" name="dynamic_field_{{ item.id }}" interface="action-sheet">
          
                  <ion-option *ngFor="let prop of item.props" value="{{ prop }}" >{{ prop }}</ion-option>
                </ion-select>
          
            </ion-item>
          

      <ion-item>
    
          <ion-textarea placeholder='توضیحات محصول' [(ngModel)]="product.detail" name="detail"></ion-textarea>
      </ion-item>






    <button ion-button type="submit" style="background-color:#ff0057;position:relative;" block>ثبت محصول</button>





     
    </form>
</div>
</ion-content>


  <!--<ion-slides pager autoplay="5000" loop="true" speed="3000" height="100">
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
     <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
  </ion-slides>-->