page-buildProduct{
  .fixed-content{
    overflow: scroll;
  }
  


  input::-moz-placeholder,input::placeholder {
    color: gray !important;
  }
  
  input:-ms-input-placeholder,input::placeholder {
    color: gray !important;
  }
  
input::-webkit-input-placeholder,input::placeholder {
    color: gray !important;
  }



  ion-item{
      background:transparent !important;
      color:black !important;
      input{
          border-bottom: 1px solid white !important;
          line-height: 28px !important;
      }
  }

  .invalid {
      border: 1px solid #ea6153;
  }

  .next-btn{
          position: absolute;
  top: 90%;
  border-radius: 63px;
  background-color: white;
  color: red;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  }
.resend-btn{
  position: absolute;
  border-radius: 63px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}








}



.addImageBuildProduct{
div{

  background: url(../assets/images/buildProduct.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;

  padding: 0 !important;
}


width:100%;height:135px;direction: ltr;color:white;
overflow-x: scroll !important;

img,div{
  float:left;
}
}

