<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>محصولات من</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>


<ion-content>





<ion-list padding>
<ion-item padding *ngFor="let item of products"  [ngClass]="(item.offer_price=='') ? 'without_offer_price': 'with_offer_price'" class="item-borderless" no-lines style="    margin-top: 10px;    height: 116px;">

   <button ion-button clear icon-only (click)="trash($event,item)" item-right right>
  <ion-icon ios="ios-trash" color='danger' md="md-trash"></ion-icon>
</button>

      <!--<button ion-button class="popover-item" icon-only (click)="presentPopover($event,item)" item-right right>
  <ion-icon ios="ios-more" md="md-more"></ion-icon>
</button>-->

    <ion-thumbnail (click)='goToProduct($event,item)' item-start style="float: right;
    margin-left: 11px;">
      <img src="{{ item.poster }}" style="    float: right;">
    </ion-thumbnail>

    <h4 (click)='goToProduct($event,item)'>{{ item.name }}</h4>



    <h6 (click)='goToProduct($event,item)' *ngIf='item.off_price==""'  style='color:green;font-size: 0.7rem;'>{{ item.price }}تومان</h6>

   <h6 (click)='goToProduct($event,item)' *ngIf='!item.off_price==""'  style='color:red;text-decoration: line-through;font-size: 0.7rem;'>{{ item.price }}تومان</h6>

    <h6 (click)='goToProduct($event,item)' *ngIf='!item.off_price==""' style='color:green;font-size: 0.7rem;' >
      {{ item.off_price }}تومان
    </h6>


       <span (click)='goToProduct($event,item)' *ngIf='!item.off_price==""' color='danger' style='    position: relative;
    top: -71px;
    left: -217px;
    border-radius: 4px;
    height: 2.8em;
    font-size: 0.6rem;
    color: #fff;
    background-color: #f53d3d;
    margin: .4rem .2rem;
    padding: 0 1em;'>تخفیف دار</span>


    <span style="float: left;" *ngIf='user'>
        
<button ion-button  clear *ngIf='!item.favorited' (click)='toggleFavorite($event,item,false)'><ion-icon ios="ios-heart-outline" style="font-size: 1.2em !important;" md="md-heart-outline"></ion-icon></button>

<button ion-button clear *ngIf='item.favorited' color="danger" (click)='toggleFavorite($event,item,true)'><ion-icon ios="ios-heart" style="font-size: 1.2em !important;" md="md-heart"></ion-icon></button>

   
   
    </span>




  </ion-item>
</ion-list>













</ion-content>


  <!--<ion-slides pager autoplay="5000" loop="true" speed="3000" height="100">
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
     <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
  </ion-slides>-->