<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>
      دنبال شدگان
    </ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>

<ion-content>





<ion-list padding>


  <ion-item padding *ngFor="let item of users" class="item-borderless" no-lines style="    margin-top: 10px;    height: 116px;">


   
    <ion-thumbnail (click)='goToExposition($event,item)' item-start style="float: right;
    margin-left: 11px;">
      <img src="{{ item.avatar }}" style="    float: right;">
    </ion-thumbnail>

    <h4 (click)='goToExposition($event,item)'>{{ item.exposition_name }}</h4>




    <h6 (click)='goToExposition($event,item)' style='font-size: 0.7rem;' >
      {{ item.exposition_details }}
    </h6>


   


    <span style="float: left;">
        
<button ion-button outline *ngIf='!item.followed' (click)='toggleFollow($event,item,false)'>فالو</button>

<button ion-button outline *ngIf='item.followed' color="danger" (click)='toggleFollow($event,item,true)'>آنفالو</button>

   
   
    </span>




  </ion-item>
</ion-list>





</ion-content>


  <!--<ion-slides pager autoplay="5000" loop="true" speed="3000" height="100">
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
     <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
  </ion-slides>-->