<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header hideBackButton>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>پروفایل</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>

<ion-content>
  

    <div style=" float: right;   border: 1px solid black;
    color: black;
    font-size: 77px;
    width: 30%;
    height: 92px;    margin-top: 27px;">
            <ion-icon ios="ios-person" md="md-person"></ion-icon>
            
    </div>
    
    
    <ion-item style="  width:70%;  height: 78px;
    margin-top: -12px;">
            <ion-label floating>نام</ion-label>
            <ion-input  type="text" value=''></ion-input>
           
        </ion-item>
    
        <ion-item style="  width:70%;  height: 78px;
        margin-top: -15px;">
                <ion-label floating>نام خانوادگی</ion-label>
                <ion-input  type="text" value=''></ion-input>
               
            </ion-item>
    
    
    
    <br>    
       
                <ion-list style="margin:0 !important;">
                        <ion-item style="  width: 95%;  border-bottom: 1px solid white !important;">
                          <ion-label>جنسیت</ion-label>
                          <ion-select  multiple="false" cancelText="انصراف" okText="حله" >
                        
                            <ion-option  value="mard">مرد</ion-option>
                            <ion-option  value="zan">زن</ion-option>
    
                          </ion-select>
                        </ion-item>
                      </ion-list>
    
    
                <ion-item style="  width: 95%;  border-bottom: 1px solid white !important;">
                        <ion-label floating>تاریخ تولد</ion-label>
                        <ion-datetime displayFormat="MM/DD/YYYY"></ion-datetime>
                        
                       
                    </ion-item>
    
                    <ion-item style="    margin-right: -12px;    width: 104%;">
                            <ion-label floating>ایمیل</ion-label>
                            <ion-input  type="text" value=''></ion-input>
                           
                        </ion-item>


 


    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>نام:</ion-label>
        <ion-input type="text" [(ngModel)]="form_user.name" name="name"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>ایمیل</ion-label>
        <ion-textarea [(ngModel)]="form_user.email" name="email"></ion-textarea>
      </ion-item>

         <ion-item>
        <ion-label>تلفن</ion-label>
        <ion-textarea [(ngModel)]="form_user.phone" name="phone"></ion-textarea>
      </ion-item>




      <div *ngIf="form_user.exposition_name != ''">

   <ion-item>
        <ion-label>نام فروشگاه</ion-label>
        <ion-textarea [(ngModel)]="form_user.exposition_name" name="exposition_name"></ion-textarea>
      </ion-item>

   <ion-item>
        <ion-label>بیوگرافی</ion-label>
        <ion-textarea [(ngModel)]="form_user.exposition_details" name="exposition_details"></ion-textarea>
      </ion-item>
   <ion-item>
        <ion-label>آدرس</ion-label>
        <ion-textarea [(ngModel)]="form_user.exposition_address" name="exposition_address"></ion-textarea>
      </ion-item>
   <ion-item>
        <ion-label>اینستاگرام</ion-label>
        <ion-textarea [(ngModel)]="form_user.instagram" name="instagram_id"></ion-textarea>
      </ion-item>

   <ion-item>
        <ion-label>تلگرام</ion-label>
        <ion-textarea [(ngModel)]="form_user.telegram" name="telegram"></ion-textarea>
      </ion-item>
   <ion-item>
        <ion-label>تلفن ثابت</ion-label>
        <ion-textarea [(ngModel)]="form_user.static_phone" name="static_phone"></ion-textarea>
      </ion-item>

      <ion-item>
  <ion-label>قابلیت ارسال محصول</ion-label>
  <ion-checkbox [(ngModel)]="form_user.post_service" name="post_service" color="dark" checked="true"></ion-checkbox>
</ion-item>


      

      </div>
      

      <button ion-button type="submit" block>بروز رسانی</button>
    </form>
 


 


</ion-content>


  <!--<ion-slides pager autoplay="5000" loop="true" speed="3000" height="100">
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
     <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
  </ion-slides>-->