


  
<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <!-- <ion-title>
    </ion-title> -->

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
  </ion-buttons>
  

  <img (click)='goToShop()' src="/assets/images/image-tmp/photo_2017-08-20_17-51-38.jpg" style="    padding: 0;
  width: 34px;
  height: 34px;
  float: right;
  margin-right: 11px;
  border-radius: 10%;" alt="">
<span (click)='goToShop()' style="    display: block;
color: white;
margin-right: 53px;
font-weight: bold;
margin-top: 6px;">
    {{ opponent_name }}
    
</span>

<ion-icon (click)="presentPopover($event,item)" ios="ios-more" md="md-more" style="    color: white;
text-shadow: 0px 0px 3px black;
float: left;
font-size: 24px;
margin-top: -22px;
margin-left: 10px;"></ion-icon>


  </ion-navbar>

</ion-header>






    <ion-content class="content-stable messaging-view">

      <div *ngFor="let message of messages"
           
           class="messages">

        <div class="message" [ngClass]="(user?.id == message.user_id) ? 'side-right' : 'side-left'">
          <span [innerHTML]='message?.message'></span>
        </div>
      </div>









      <ion-scroll [style.opacity]='productsVisible== true ? 1 : 0' [style.top]='productsVisible== true ? "47%" : "100%"' direction="xy" overflow-scroll="true"  scrollX="true" scrollY="true" style="position: fixed;
      bottom: 0;
      z-index: 99999999999999;
      left: 0;
      background-color: white;
      width: 100%;
      height: 300px;white-space: nowrap;">
          <ion-row style="white-space: nowrap;" nowrap>
                  <ion-col col-6 nowrap *ngFor="let item of products" style="white-space: nowrap;">

                      <ion-icon ios="ios-arrow-dropup-circle" md="ios-arrow-dropup-circle" style="    position: absolute;
                      right: 11%;
                      top: 7%;
                      font-size: 24px;
                      color: white;
                      box-shadow: 1px 2px 1px 0px black;
                      border-radius: 117%;" (click)="sendProductToChat(item)"></ion-icon>
                      <product class="scroll-item" style="padding:10px;"  (click)="goToProduct($event,item)" [product]='item'></product>
                      
                    </ion-col>
          </ion-row>


        <ion-icon (click)='toggleProducts()' style="position: fixed;
        left: 4%;
        top: 80%;
        font-size: 27px;" ios="ios-arrow-dropdown-circle" md="md-arrow-dropdown-circle"></ion-icon>


      </ion-scroll>










    </ion-content>




<ion-footer keyboard-attach class="bar-stable item-input-inset" style=' background-color: whitesmoke !important;'>



    <ion-grid>
        <ion-row>
          <ion-col col-1>
              <button ion-button icon-only style="    width: 1em;" color="light"  (click)="sendMessage()">
                  <ion-icon ios="ios-send" md="md-send"></ion-icon>
                        </button>

          </ion-col>
          <ion-col col-9>

              <ion-textarea class="messageINP" style="float:right;  " [(ngModel)]="message"   placeholder='متن پیام' style="word-break: break-word;  border-bottom: 1px solid lightblue;
              border-radius: 6%;" cols="1" rows="1" ></ion-textarea>
              
          </ion-col>
          <ion-col col-1>
              <!-- <button ion-button clear icon-only (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'top'"
              (emojiPickerSelect)="handleSelection($event)">
              🤗
        </button> -->
        
          </ion-col>
          <ion-col col-1>
              <button ion-button icon-only style="width: 1em;
              margin: 5px;" color="light" (click)='toggleProducts()'>
                  <ion-icon ios="ios-image" md="md-image"></ion-icon>
              
                 </button>

          </ion-col>
        </ion-row>
      </ion-grid>





















    

        <!--<input type="text" left placeholder="متن پیام" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />-->




</ion-footer>









  <!--<ion-slides pager autoplay="5000" loop="true" speed="3000" height="100">
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
     <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
  </ion-slides>-->