
<ion-card *ngIf='exposition' >



        <ion-card-header (click)='goToShopPage()' text-wrap style="background-image: url(/assets/images/exposition.jpg);height:37px;">
 

            <span style="     font-weight: bold;   margin: auto;
            color: white;
            font-size: 11px;
            margin-top: 10px;
            display: block;">{{ exposition.exposition_name }}

        </span>
         
          </ion-card-header>

        <ion-card-content class='divider-card' style="text-align:right;">
                <rating style="    margin: auto;
                font-size: 0px;    text-align: center;"  
                   readOnly="true" 
                   max="5" 
                   emptyStarIconName="star-outline" 
                   halfStarIconName="star-half" 
                   starIconName="star" 
                   nullable="false" 
                   min='3.0'
                   rate='3.0'
                   val='3.0'
                  ></rating>



                  

                <img (click)='goToShopPage()' src="/assets/images/image-tmp/photo_2017-08-20_17-51-38.jpg" style="  

                width: 65px;
                height: 65px;
                border-radius: 10%;
                margin-left:10px;
                box-shadow:1px 2px 12px -1px lightgrey;
            margin:auto;
                " alt="">
                <!-- {{ exposition.avatar }} -->


<p style="text-align:center;    margin-top: 13px;">
    تهران  -ازادی
    <br>
    پوشاک
</p>
      

<div style="text-align:center;        font-size: 10px; border-top: 1px solid lightgray;">
    <div style="width:50%;float:left;">
            <ion-icon ios="ios-pricetag" md="md-pricetag" style="font-size: 1.8em !important;color:black;"></ion-icon>
            <br>
            {{ exposition.products_size }}
محصول 
    </div>
    <div (click)='follow(false)' *ngIf='!exposition?.followed' style="width:50%;    border-left: 1px solid lightgray;">
            <ion-icon ios="ios-add" md="md-add" style="font-size: 1.8em !important;color:black;"></ion-icon>
            <br>
            {{ exposition.followers_size }}
        فالوعر 
    </div>

    <div (click)='follow(true)' *ngIf='exposition?.followed' style="width:50%;    border-left: 1px solid lightgray;">
        <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" style="    font-size: 2em !important;
        color: green;"></ion-icon>
        <br>
        {{ exposition.followers_size + 1 }}
    فالوعر 
</div>



 




</div>

        </ion-card-content>
    </ion-card>