<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>تماس باما</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>ما را در شبکه های اجتماعی دنبال کنید</ion-list-header>
    <ion-item text-center>
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-icon name="logo-twitter"></ion-icon>
    <ion-icon name="logo-instagram" ></ion-icon>
   
    </ion-item>


  <ion-item>
    <ion-label floating>عنوان</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>متن</ion-label>
    <ion-input type="textarea"></ion-input>
  </ion-item>
  <ion-item padding-top>
    <button block ion-button>ارسال پیام</button>
  </ion-item>



  </ion-list>



</ion-content>
