<ion-header>
    <ion-navbar color="danger">
        <button menuToggle side="right" ion-button>

                <div class="div" id="div">
  <svg viewBox="0 0 800 600">
    <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
    <path d="M300,320 L540,320" id="middle"></path>
    <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
  </svg>
</div>

        </button>

  <!-- <ion-buttons end>
      <button ion-button icon-only (click)="goToSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
      <ion-buttons end>
      <button ion-button icon-only (click)="goToNearby()">
        <ion-icon name="locate"  md="md-locate"></ion-icon>
      </button>
    </ion-buttons> -->

        <ion-title>پین سود</ion-title>
    </ion-navbar>

    <!--<ion-toolbar color="secondary">
        <ion-title>My Teams</ion-title>
    </ion-toolbar>-->
</ion-header>





<ion-content>





    <ion-card style="margin-top:0 !important;" class="sticky"> 
            <ion-icon name="search" (click)="goToSearch()" right style="margin-right: 13px;font-size: 3rem;margin-top: 10px;color: #5e5e5e;"></ion-icon>

            <div (click)="goToSearch()"  style="    margin: auto;

            position: absolute;
            left: 46%;
            top: 17px;">
برای جستجو کلیک کنید
            </div>
            <ion-icon name="locate"  md="md-locate" (click)="goToNearby()" left style="color: #5e5e5e;float: left;margin-left: 10px;font-size: 3rem;margin-top: 10px;"></ion-icon>
    </ion-card>








    <br>


  <ion-slides *ngIf="slider.length > 1" autoplay="5000" pager dir="rtl" style="width:100%;height:150px;" height='200' loop="true" effect='fade' speed="700">
  <ion-slide *ngFor="let item of slider">
      
<img src="http://pinsood.com{{ item.url }}" style="width:100%;height:150px;" alt="">
  </ion-slide>

</ion-slides>












<ion-card style="text-align:center;margin-top:6px !important;">

    <ion-card-content>

<ion-grid>
  <ion-row>


<!-- <ion-col col-3 *ngFor="let item of categories | slice:0:3; let i=index" (click)="categoryClicked($event,item)">
    <img style="width:54px;height:54px;border-radius: 10%;" src="http://pinsood.com{{ item.image.url }}" alt="">
<span>
    {{ item.name }}
</span>

</ion-col> -->


<ion-col col-3 (click)="goToCategories()">
        <div style="    width: 54px;
        height: 54px;
        margin: 7px;
        border-radius: 23%;
        background: url(assets/images/fast-access/timeline-bg.png) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center center;">
                <img src="assets/images/fast-access/timeline.png" alt="">
        </div>
        
            <span>
        تایم لاین
        
            </span>
        </ion-col>

<ion-col col-3 (click)="goToCategories()">
<div style="    width: 54px;
height: 54px;
margin: 7px;
border-radius: 23%;
background: url(assets/images/fast-access/categories-bg.png) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center center;">
        <img src="assets/images/fast-access/categories.png" alt="">
</div>

    <span>
کتگوریها

    </span>
</ion-col>




<ion-col col-3 (click)="goToCategories()">
        <div style="    width: 54px;
        height: 54px;
        margin: 7px;
        border-radius: 23%;
        background: url(assets/images/fast-access/best-shop-bg.png) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center center;">
                <img src="assets/images/fast-access/best-shop.png" alt="">
        </div>
        
            <span>
فروشگاه های برتر        
            </span>
        </ion-col>




        <ion-col col-3 (click)="goToCategories()">
                <div style="    width: 54px;
                height: 54px;
                margin: 7px;
                border-radius: 23%;
                background: url(assets/images/fast-access/best-product-bg.png) no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-position: center center;">
                        <img src="assets/images/fast-access/best-product.png" style="    width: 71%;
                        padding-top: 15px;
                        padding-right: 10px;" alt="">
                </div>
                
                    <span>
محصولات برتر
                    </span>
                </ion-col>


  </ion-row>
</ion-grid>
    </ion-card-content>
</ion-card>











<div>

        <ion-card style="height: 235px;margin-top:6px !important;">
<h6 style="margin:auto;color: #FF0057;text-align:center;margin-top:10px;">
تخفیف تا ۳۵ درصد
</h6>

<button ion-button style="   position: relative;
padding: 0px;
left: -82%;
top: -22px;
font-size: 11px;
width: 43px;
height: 21px;background-color:#FF0057;">
بیشتر
      </button>


<ion-scroll direction="xy" overflow-scroll="true"  scrollX="true" scrollY="true" style="overflow: scroll;width:100vw;height: 270px;white-space: nowrap;">
    <ion-row>
            <ion-col col-6>
                <product class="scroll-item" style="padding:10px;" *ngFor="let item of products" (click)="goToProduct($event,item)" [product]='item'></product>
            </ion-col>
    </ion-row>
</ion-scroll>

       

 


        </ion-card>




<h6 class="slider_title">فروشندگان برتر</h6>

  <ion-slides dir="rtl" slidesPerView="2" style="width:100%;height:300px;" height='200' loop="false" speed="3000">
  <ion-slide *ngFor="let item of expositions" (click)="goToShop($event,item)">

<ion-card>

    <ion-card-header text-wrap>
<img src="{{ item.background }}"  style="width:100%;height:150px;" alt="">

        <p style="text-align:right;" padding-top> {{ item.exposition_name }}</p>

    </ion-card-header>

    <ion-card-content class='divider-card green-text' style="text-align:left;">

        <p>
{{ item.exposition_address }}
        </p>

    </ion-card-content>

</ion-card>



  </ion-slide>
 


 
</ion-slides>



<h6 class="slider_title">فروشگاه تصادفی</h6>

  <ion-slides dir="rtl" slidesPerView="2" style="width:100%;height:300px;" height='200' loop="false" speed="3000">
  <ion-slide *ngFor="let item of random_expositions" (click)="goToShop($event,item)">

<ion-card>

    <ion-card-header text-wrap>
<img src="{{ item.background }}"  style="width:100%;height:150px;" alt="">

        <p style="text-align:right;" padding-top> {{ item.exposition_name }}</p>

    </ion-card-header>

    <ion-card-content class='divider-card green-text' style="text-align:left;">

        <p>
{{ item.exposition_address }}
        </p>

    </ion-card-content>

</ion-card>



  </ion-slide>
 


 
</ion-slides>


</div>

  
</ion-content>
