<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->






  

<ion-content padding>



  <ion-textarea 
    placeholder=''
    [(ngModel)]="content"
  (ngModelChange)='onChange($event)' ></ion-textarea>

<button ion-button  [disabled]="saveBTNDisable" (click)='saveComment()' style="width:45%;" right>ثبت نظر</button>
<button ion-button  (click)="closeModal()" style="width:45%;" left>منصرف شدم</button>




</ion-content>


  <!--<ion-slides pager autoplay="5000" loop="true" speed="3000" height="100">
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
     <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
  </ion-slides>-->