<ion-header>

  <ion-navbar style="background:black;" hideBackButton>
    <ion-title></ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white;"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>

<ion-content text-center class="imageView">


  


    <ion-slides pager dir="rtl" loop="false" speed="0">
        
          <ion-slide *ngFor='let item of srcs'>
 <img src="{{ item }}" alt="">
          </ion-slide>
 
        
        
        </ion-slides>

</ion-content>

<!--<ion-footer color='danger'>
  <ion-toolbar color='danger'>
    <ion-title style="color:white;">
      طراحی و توسعه توسط چهارسو

    </ion-title>
  </ion-toolbar>
</ion-footer>-->