page-imageView {
    .toolbar-background, .toolbar-background-md{
        background: black !important;
    }
    .swiper-pagination-bullet{
        color: white;
        background: white;
    }
}
.imageView{
    background-color: black !important;

    img{
        padding-top:30px;
    }
}