
<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>راهنمای اپ</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>
  

<ion-content>
 
<ion-slides pager dir="rtl" autoplay="5000" loop="true" speed="1000">

  <ion-slide>
         <h3>تستتستتست</h3>
            <div id="logo">
              <img src="https://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
             تست تست تست تست تست تست
            </p>
            <p>
تست تست تست تست تست
            </p>
  </ion-slide>

  <ion-slide>
         <h3>تست تست تست تست تست</h3>
            <div id="logo">
              <img src="https://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
تست تست تست تست تست تست
            </p>
            <p>
تست تست تست تست تست تست
            </p>
  </ion-slide>
    <ion-slide>
         <h3>تست تست تست</h3>
            <div id="logo">
              <img src="https://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
تست تست تست تست
            </p>
            <p>

                           <button outline ion-button (click)='goToHome()'>
             ورود به اپ
        </button>
            </p>
  </ion-slide>


</ion-slides>












</ion-content>
