page-signupexposition{
    background-image: url('../assets/images/bg-reg.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 101%;
    background-attachment: fixed;


    .scroll-content{
        padding: 0 !important;
        margin-top: 0 !important;
      }
      
.label-md{
    color:white !important;
}
ion-input *{
    text-align:right !important;
}
.ng-invalid {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
    }
    ion-slides{
        padding-top:100px !important;
    }
    .slide-zoom {
        height: 100%;
        overflow: scroll;
        }
    ion-item{
        background:transparent !important;
        color:white !important;
        input{
            border-bottom: 1px solid white !important;
            line-height: 28px !important;
        }
    }
.signup_exposition,ion-header,ion-navbar,.toolbar-background{
    background-color: transparent !important;
    border:none !important;
}
    .invalid {
        border: 1px solid #ea6153;
    }

    .next-btn{
            position: absolute;
    top: 90%;
    border-radius: 63px;
    background-color: white;
    color: red;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    }
.resend-btn{
    position: absolute;
    border-radius: 63px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}






 
 
}


