<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>ثبت نام فروشگاه</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>


<ion-content class="signup_exposition">

 
    <ion-slides #signupSlider  dir="ltr">
 
  <ion-slide style="text-align:right !important;">
 



    <p *ngIf="submitAttempt" style="color: #ea6153;">
فروم را با دقت پر کنید
    </p>

 

 

        <form [formGroup]="slideOneForm" >
 
            <ion-item>

                <ion-input placeholder='نام و نام خانوادگی' formControlName="name" type="text" [class.invalid]="!slideOneForm.controls.name.valid && (slideOneForm.controls.name.dirty || submitAttempt)"></ion-input>
            </ion-item>
 
            <ion-item *ngIf="!slideOneForm.controls.name.valid  && (slideOneForm.controls.name.dirty || submitAttempt)">
                <p>
                  از کاراکترهای فارسی و بدون عدد استفاده کنید
                </p>
            </ion-item>
 

            <ion-item>
                <ion-input style="box-shadow: none !important;border-bottom: none !important;" placeholder='شماره همراه' formControlName="phone" type="text" [class.invalid]="!slideOneForm.controls.phone.valid && (slideOneForm.controls.phone.dirty || submitAttempt)"></ion-input>
            </ion-item>
 
            <ion-item *ngIf="!slideOneForm.controls.phone.valid  && (slideOneForm.controls.phone.dirty || submitAttempt)">
                <p>شماره تلفن نامعتبر است</p>
            </ion-item>
        </form>

        <button ion-button full color="primary" (click)="level2()" class="next-btn" [disabled]="!slideOneForm.controls.phone.valid || !slideOneForm.controls.name.valid" >مرحله بعد</button>
 

 
  </ion-slide>
 


  <ion-slide dir='rtl'>
 

 
        <form [formGroup]="slideTwoForm">
            <ion-item>
           
                <ion-input placeholder='   کد وریفای' [class.invalid]="!slideTwoForm.controls.verifyCode.valid && (slideTwoForm.controls.verifyCode.dirty || submitAttempt)" formControlName="verifyCode" type="number"></ion-input>
            </ion-item>

            <ion-item *ngIf="!slideTwoForm.controls.verifyCode.valid && !slideTwoForm.controls.verifyCode.pending && (slideTwoForm.controls.verifyCode.dirty || submitAttempt)">
                <p>کد نامعتبر است</p>
            </ion-item>



        </form>
 

    

    <p *ngIf='sendAgainCode || sendAgainCodeTime != 60'>
        {{ sendAgainCodeTime }}
        تا ارسال دوباره کد
    </p>
    <button ion-button full color="primary" class="resend-btn" [disabled]='sendAgainCode' (click)="sac()">ارسال دوباره کد</button>

    <button ion-button full class="next-btn" color="primary" [disabled]='!slideTwoForm.controls.verifyCode.valid' (click)="level3()">تایید</button>
 
  </ion-slide>



  <ion-slide dir='rtl'>
 

 
        <form [formGroup]="slideThreeForm" padding>
                <!-- <ion-item>
                        <ion-label floating>نام فروشگاه</ion-label>
                        <ion-input (input)='username($event.target.value)' [class.invalid]="!slideThreeForm.controls.identity.valid && (slideThreeForm.controls.identity.dirty || submitAttempt)" formControlName="identity" type="text"></ion-input>
                    </ion-item> -->




                            <ion-item>
                              <ion-label>شهر</ion-label>
                              <ion-select  multiple="false" cancelText="انصراف" okText="حله" [class.invalid]="!slideThreeForm.controls.category_id.valid && (slideThreeForm.controls.category_id.dirty || submitAttempt)" formControlName="category_id">
                            <ion-option *ngFor="let item of categories" value="{{ item?.id }}">{{ item?.name }}</ion-option>
                              </ion-select>
                            </ion-item>


                          
                          <ion-item>
                        
                                <ion-input placeholder='آدرس' [class.invalid]="!slideThreeForm.controls.address.valid && (slideThreeForm.controls.address.dirty || submitAttempt)" formControlName="address" type="text"></ion-input>
                            </ion-item>
                
                            <ion-item *ngIf="!slideThreeForm.controls.address.valid && (slideThreeForm.controls.address.dirty || submitAttempt)">
                                <p>آدرس را با دقت پر کنید</p>
                            </ion-item>
                


                            <ion-item>
                           
                                    <ion-input placeholder="   تلفن ثابت" [class.invalid]="!slideThreeForm.controls.address.valid && (slideThreeForm.controls.address.dirty || submitAttempt)" formControlName="address" type="text"></ion-input>
                                </ion-item>
                    
                                <ion-item *ngIf="!slideThreeForm.controls.address.valid && (slideThreeForm.controls.address.dirty || submitAttempt)">
                                    <p>آدرس را با دقت پر کنید</p>
                                </ion-item>


            <!-- <ion-item>
                <ion-label floating>نام کاربری</ion-label>
                <ion-input (input)='username($event.target.value)' [class.invalid]="!slideThreeForm.controls.identity.valid && (slideThreeForm.controls.identity.dirty || submitAttempt)" formControlName="identity" type="text"></ion-input>
            </ion-item>

            <ion-item *ngIf="username_taken">
                <p>این نام کاربری قبلا ثبت شده است</p>
            </ion-item>
            <ion-item *ngIf="!slideThreeForm.controls.identity.valid && !slideThreeForm.controls.identity.pending && (slideThreeForm.controls.identity.dirty || submitAttempt)">
                <p>متاسفیم از این نام کاربری نمی تواند استفاده کنید</p>
            </ion-item> -->
            
 
            <!-- <ion-item>
                <ion-label floating>رسته ی کاری</ion-label>
                <ion-select [class.invalid]="!slideThreeForm.controls.category_id.valid && (slideThreeForm.controls.category_id.dirty || submitAttempt)" formControlName="category_id">
<ion-option *ngFor="let item of categories" value="{{ item?.id }}">{{ item?.name }}</ion-option>
          
                </ion-select>
            </ion-item> -->



  <ion-item>
    <ion-label>رسته کاری</ion-label>
    <ion-select  multiple="false" cancelText="انصراف" okText="حله" [class.invalid]="!slideThreeForm.controls.category_id.valid && (slideThreeForm.controls.category_id.dirty || submitAttempt)" formControlName="category_id">
  <ion-option *ngFor="let item of categories" value="{{ item?.id }}">{{ item?.name }}</ion-option>
    </ion-select>
  </ion-item>



<hr> 



<ion-item>
     
        <ion-input placeholder=' نام کاربری' [class.invalid]="!slideThreeForm.controls.address.valid && (slideThreeForm.controls.address.dirty || submitAttempt)" formControlName="address" type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="!slideThreeForm.controls.address.valid && (slideThreeForm.controls.address.dirty || submitAttempt)">
        <p>آدرس را با دقت پر کنید</p>
    </ion-item>



    <ion-item>
  
            <ion-input placeholder='رمز عبور' [class.invalid]="!slideThreeForm.controls.address.valid && (slideThreeForm.controls.address.dirty || submitAttempt)" formControlName="address" type="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="!slideThreeForm.controls.address.valid && (slideThreeForm.controls.address.dirty || submitAttempt)">
            <p>آدرس را با دقت پر کنید</p>
        </ion-item>




 


            <ion-item>
        
                <ion-input placeholder='ایمیل' [class.invalid]="!slideThreeForm.controls.exposition_name.valid && (slideThreeForm.controls.exposition_name.dirty || submitAttempt)" formControlName="exposition_name" type="text"></ion-input>
            </ion-item>

            <ion-item *ngIf="!slideThreeForm.controls.exposition_name.valid && (slideThreeForm.controls.exposition_name.dirty || submitAttempt)">
                <p>نام فروشگاه را با دقت پر کنید</p>
            </ion-item>



            <ion-item>

                <ion-textarea placeholder='توضیحات فروشگاه' formControlName="detail"></ion-textarea>
            </ion-item>


 
        </form>
 

 
    <button ion-button full color="primary" class="next-btn" style="position:relative;top:30px;" (click)="save()">ساخت اکانت</button>
 
  </ion-slide>




  
 

 
    </ion-slides>

</ion-content>