<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>پروفایل</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  <ion-buttons right>
      <button ion-button (click)='goToEditPage()' icon-only style="font-size: 11px;font-weight: bold;">
ویرایش
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>


<div style="width:100%;    height: 100px;background:url('assets/images/self.jpg');">

    <img src="assets/images/image-tmp/photo_2017-08-20_17-51-28.jpg" style="     border-radius: 10%;
    border-radius: 10%;
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
    position: relative;
    top: 50px;
    right: 33%;" alt="">


</div>




<br><br><br>


<ion-segment [(ngModel)]="filter" class="sticky">
    
          <ion-segment-button value="product"  style="background-color:transparent;border-color:transparent;color:#FF0057;">
    
    
علاقه مندی ها    
          </ion-segment-button>
          <ion-segment-button value="exposition" style="background-color:transparent;border-color:transparent;color:#FF0057;">
    
    
دنبال شدگان
    
          </ion-segment-button>
        </ion-segment>




        <div *ngIf='filter=="product"'>


            <ion-grid>
                <ion-row>
                  <ion-col *ngFor="let item of products" col-6>
                      <ion-icon (click)='toggleFavorite($event,item,true)' *ngIf='item.favorited == true' ios="ios-heart" md="md-heart" style="color:red;position: absolute;padding: 5px;font-size: 2rem;"></ion-icon>
                      <ion-icon (click)='toggleFavorite($event,item,false)' *ngIf='item.favorited == false' ios="ios-heart" md="md-heart" style="position: absolute;padding: 5px;font-size: 2rem;"></ion-icon>
                    <product (click)='goToProduct(item)' [product]='item'></product>
                  
                  </ion-col>
                </ion-row>
            
            </ion-grid>

        </div>


        <div *ngIf='filter=="exposition"'>


            <ion-list>
                
                
                  <ion-item padding *ngFor="let item of users" class="item-borderless" no-lines style="    margin-top: 10px;height: 118px;border-bottom: 1px solid lightgray;">
                
                
                   
                    <ion-thumbnail (click)='goToShop(item)' item-start style="float: right;
                    margin-left: 11px;">
                      <img src="{{ item.avatar }}" style="    float: right;">
                    </ion-thumbnail>
                
                    <h4 style="font-weight: bold;" (click)='goToShop(item)'>{{ item.exposition_name }}</h4>
                
                
                
                
                    <h6 (click)='goToShop(item)' style='font-size: 0.7rem;' >
                      {{ item.exposition_address }}
                    </h6>
                
                    <h6 (click)='goToShop(item)' style='font-size: 0.7rem;' >
                        الکترونیک
                      </h6>
                   
                
                
                    <span style="float: left;margin-top: -43px;">
                        
                <button ion-button outline style="color:white;background-color:blue;" *ngIf='!item.followed' color="primary" (click)='toggleFollow($event,item,false)'>فالو</button>
                
                <button ion-button outline style="color:white;background-color:blue;" *ngIf='item.followed' color="primary" (click)='toggleFollow($event,item,true)'>آنفالو</button>
                
                   
                   
                    </span>
                
                
                
                
                  </ion-item>
                </ion-list>


        </div>







</ion-content>

