<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>دسته بندی ها</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>


<ion-content style="text-align:center;">

  <div *ngFor="let item of categories">
    <h6 class="slider_title">{{ item?.name }}</h6>

    <ion-grid>
      <ion-row>
        <ion-col col-3 *ngFor="let sub of item.subcategories" (click)='goToProducts($event,item)'>
          <img src="https://pinsood.com/{{ sub.image.thumb.url }}" alt="">
          {{ sub?.name }}
        </ion-col>
  
      </ion-row>

    </ion-grid>



  </div>





 


</ion-content>


  <!--<ion-slides pager autoplay="5000" loop="true" speed="3000" height="100">
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
     <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
  </ion-slides>-->