<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->






<ion-header>

  <ion-navbar color='danger'>
    <ion-title>فروشگاه {{ exposition.data.exposition_name }} </ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>



  	<ion-buttons right>
		<button ion-button navPop icon-only>
<ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
		</button>
	</ion-buttons>
    



  </ion-navbar>

</ion-header>





<ion-content>





<ion-tabs tabbarPlacement="top" color='blue'>
  <ion-tab [root]="tab1Root" tabTitle="مشخصات" tabIcon="home" [rootParams]="exposition"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="نظرات" tabIcon="information-circle" [rootParams]="exposition"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="محصولات" tabIcon="information-circle" [rootParams]="exposition"></ion-tab>
</ion-tabs>





