
<ion-card  *ngIf='product' [ngStyle]="{'box-shadow': product.has_offer_price ? '1px 2px 8px -1px red' : 0 }">

        <ion-card-header text-wrap>
            <span class="label" *ngIf="product.has_offer_price">
                30%
              </span>
            <img src="{{ product.poster }}" style="width:100%;height:108px;" alt="">
         
          </ion-card-header>

        <ion-card-content class='divider-card' style="text-align:right;">
            <p style="font-size: 10px;">
                    <span style="color:black;">    {{ product.name }}</span>
                    <br>
                    <br *ngIf="!product.has_offer_price">
                    <span class="green-text" style="font-size: smaller;" [class.has_offer_price_label]="product.has_offer_price == true">
                        {{ product.price }}  تومان
                       </span>
               
           
            <br>
            <span class="green-text"  *ngIf="product.has_offer_price">
                {{ product.off_price }}  تومان
            </span>
            

            </p>
        </ion-card-content>
    </ion-card>