product {
    .has_offer_price_label{
        color:red;
        text-decoration: line-through;
    }

    .label {
        position: absolute;

        left: 0;
        z-index: 1;
        display: inline-block;
        padding: 1px 10px 1px 14px;
        background: #F07D31 none repeat scroll 0% 0%;
        color: #FFF;
        text-transform: uppercase;
        letter-spacing: 0.015em;
        white-space: nowrap;
        font-size:6px;
    }

}

.card-header-md{
    padding:0 !important;
}

.card-md {
    /* margin: 12px 12px 12px 12px; */

    border-radius: 2px !important;
    font-size: 1.4rem !important;
    background: #fff !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
    ion-card-content{
        padding:2.5px !important;
    }
 }