<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar color='danger'>
    <ion-title>محصول</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>

  

<ion-content>


  <ion-tabs  tabbarPlacement="top" color='blue'>
    <ion-tab tabIcon="card" tabTitle="مشخصات فنی" [root]="tab1Root" [(rootParams)]="product"></ion-tab>
    <ion-tab tabIcon="stats" tabTitle="نظرات" [root]="tab2Root" [rootParams]="product"></ion-tab>
    <ion-tab tabIcon="settings" tabTitle="نقشه" [root]="tab3Root" [rootParams]="product"></ion-tab>
</ion-tabs>

</ion-content>


  <!--<ion-slides pager autoplay="5000" loop="true" speed="3000" height="100">
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
     <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
  </ion-slides>-->