

<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>
      
    گیرنده:
      {{ exposition?.exposition_name }}
      </ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>


<ion-content>
  
    <ion-row class="login-form" padding-top>
        <ion-col>
            <ion-list inset>
 
              <ion-item>
                <ion-label>
                  عنوان
                </ion-label>
                <ion-input [(ngModel)]="title" type="text"></ion-input>
              </ion-item>
 
              <ion-item>
                <ion-label>متن پیام</ion-label>
                <ion-textarea [(ngModel)]="body" name="body"></ion-textarea>
              </ion-item>
 
            </ion-list>
 
            
 
        </ion-col>
    </ion-row>


            <button ion-button full (click)="sendMessage()" color="primary" class="login-button" style="width:100%;float:left;">ارسال پیام</button>



</ion-content>
