<ion-menu [content]="content" (ionClose)='hmbBtn()' (ionOpen)='hmbBtn()' side='right' class="sideNav" cache-view="false">
  <ion-content>
    <ion-toolbar color='danger' style="color:white;text-align:right;">
         <div class="item item-avatar">


<!-- <img src="http://lorempixel.com/200/150/" style="    border-radius: 100%;
width: 60px;
height: 60px;
margin-top: 15px;
margin-right: 10px;

" alt=""> -->


            <h4 style="margin:0;padding:0;    font-size: 1.5rem;">{{ user?.name }}</h4>


          </div>

        

    </ion-toolbar>

    <ion-list>
        <button menuClose (click)='goToHome()' ion-item *ngIf="user">
          خانه
              <ion-icon ios="ios-home" md="md-home" item-left></ion-icon>
            
            
                  </button>


      <!--<ion-list-header></ion-list-header>-->
      <button menuClose ion-item (click)="goToSelf()" *ngIf="user">پروفایل
        <ion-icon name="person" item-left></ion-icon>
      </button>

       <button menuClose (click)='goToListmessages()' ion-item *ngIf="user">
پیام ها
  <ion-icon ios="ios-chatbubbles" md="md-chatbubbles" item-left></ion-icon>


      </button>

      <button menuClose ion-item *ngIf="user" (click)='goToFavorites()'>
        علاقه مندی ها
          <ion-icon name="heart" item-left></ion-icon>
      </button>


      
   <button menuClose ion-item (click)='goToFollowing()' *ngIf="user">دنبال شدگان
  <ion-icon ios="ios-person-add" md="md-person-add" item-left></ion-icon>
      </button>


       <button menuClose ion-item (click)='goToBuildProduct()' *ngIf="user?.level == 1">افزودن محصول
  <ion-icon ios="ios-add" md="md-add" item-left></ion-icon>

      </button>

        <button menuClose ion-item (click)='goToSelfProduct()' *ngIf="user?.level == 1">لیست محصولات
  <ion-icon ios="ios-list-box" md="md-list-box" item-left></ion-icon>

      </button>


      
      <button menuClose ion-item (click)='goToCategories()'>دسته بندی ها

  <ion-icon ios="ios-list" md="md-list" item-left></ion-icon>
  

      </button>

      <button menuClose (click)='goToSetting()' ion-item>تنظیمات

          <ion-icon ios="ios-settings" md="md-settings" item-left></ion-icon>
          
       </button>
 

      <button menuClose ion-item (click)='logout()' *ngIf="user">خروج
        <ion-icon name="log-out" item-left></ion-icon>
      </button>

   <button menuClose ion-item (click)='goToLogin()' *ngIf="!user">ورود
  <ion-icon ios="ios-log-in" md="md-log-in" item-left></ion-icon>

      </button>

        <button menuClose ion-item (click)='goToSignUp()' *ngIf="!user">ثبت نام
  <ion-icon ios="ios-log-out" md="md-log-out" item-left></ion-icon>

      </button>


      <button menuClose (click)='goToHelp()' ion-item>راهنما
         <ion-icon name="help" item-left></ion-icon>
      </button>

      
    </ion-list>
  </ion-content>
</ion-menu>




<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
