

ion-content {
    background: #f8f9fb !important;

 }

 .card-ios,.card-md {
    /* margin: 12px 12px 12px 12px; */

    border-radius: 2px !important;
    font-size: 1.4rem !important;
    background: #fff !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
 }
 .toolbar .item .item-avatar{

     text-align: right !important;
 }
 .alert-md {
     direction: ltr;
 }
 .alert-md .alert-checkbox-label {
    text-align: right !important;
}

 .card-ios {
    margin: 0;
    margin-top: 24px;
    width: 100%;
 }
.content-md{
    background-color:rgba(6, 6, 6, 0.05);
}


.item-block .item-inner {
    border-bottom: none !important;
}


.sideNav .content-md{
    background-color: white;
}

.divider-card{
    border-top:1px solid rgba(0, 0, 0, 0.121569);
}
.green-text{
    color: $price-color;
    p{
     color: $price-color;   
    }
}



ion-app.ios [padding], ion-app.ios [padding] .scroll-content {
    padding: 10px;
}


.card-content-ios {
    padding: 4px !important;
}
.toolbar-background {
 background: #ff0057; /* fallback sfor old browsers */
  background: -webkit-linear-gradient(to right, #ff512f, #dd2476); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff512f, #dd2476);
}


.toolbar-ios-danger .toolbar-background-ios,.toolbar-background-md {
    background: #ff0057 !important;
}

.swiper-slide {
    width: 100%;
    height: 100% !important;
}

.card-header-ios {
    padding: 0 !important;

}

.action-sheet-title{
    text-align: center;
}
.popover-item {
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
    height: 2.8em;
    border-radius: 4px;
    font-size: 1.6rem;
    color: #000000 !important;
    background-color: white !important;
}

.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
 background-image: none;
}
.menu-inner {
.input-wrapper ,ion-icon{
    font-size:1.5rem;
}

}
.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {

    padding-right: 5px;
}

.item > ion-icon, .item-inner > ion-icon {
    min-height: 2rem;
}

.toast-message{
    z-index: 999999999999999999 !important;
}


.md{
    .alert-button-group{
        direction: ltr !important;
        text-align: rtl !important;
    }
    .alert-title{
        text-align: center !important;
    }
}

ion-scroll[scrollX] {
    white-space: nowrap;
    .scroll-item {
      display: inline-block;
    }
}


.sticky{
    position: -webkit-sticky !important;
    position: sticky !important;
    z-index: 3 !important;
    margin: 0;
    padding: 0 !important;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0 !important;
}

ion-segment.sticky{
    transition: all 1.4s ease;
    background-color: #f8f9fb !important;
}