.toolbar-title{
    font-size:1.3rem !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: gray;
}

page-productdetail{
    .header-image {
        background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
        height: 140vh;
    }

    .has_offer_price_label{
        color:gray !important;
        text-decoration: line-through;
    }
    .red-text{
        color:red;
    }

    .swiper-container {

        overflow: visible;
    }

    .swiper-pagination{
        top:101%;
    }
    .card-content-md{
        padding:10px !important;
    }
}
