<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<!-- 
 <ion-header>

     <ion-title>{{ product_data?.name }}</ion-title>


</ion-header>  -->






  

<ion-content class='product_detail' style="padding-top:16px;">


    
  


    
    <button navPop icon-only style="background-color:transparent;border:none;font-size: x-large;position: absolute;top: 18px;z-index:99999 !important;">
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color: white;
text-shadow: 0px 0px 3px black;
"></ion-icon>
    </button>

    <button (click)="presentPopover($event,item)" icon-only style="border:none;left:3%;background-color:transparent;border:none;font-size: x-large;position: absolute;top: 18px;z-index:99999 !important;">
    <ion-icon ios="ios-more" md="md-more" style="color: white;
    text-shadow: 0px 0px 3px black;"></ion-icon>


  </button>
  
<!-- 
		<button ion-button icon-only (click)='shareInfo(product_data?.detail,product_data?.name)'>
      <ion-icon ios="ios-share-outline" md="md-share"></ion-icon>
		</button> -->

  

<img src="../../assets/images/default-image.jpg" alt="" style="background-color:#c0c5cc;width:100%;height:300px;filter: blur(3.8px);
    -moz-filter: blur(3.8px);
    -o-filter: blur(3.8px);
    -ms-filter: blur(3.8px);"  *ngIf='without_images'>
  <ion-slides *ngIf='!without_images' style="    height: 317px !important;" pager dir="rtl" loop="false" speed="0">
   

    <ion-slide *ngFor="let item of product?.images" >

   <img src="{{ item }}" (click)='goToImageView(product?.images)' style="   
   width: 100%;
   object-fit: contain;" alt="">

   
    </ion-slide>


  </ion-slides>




<ion-card style="margin-top:0 !important;    overflow: visible;">

<div *ngIf='user'>
    
    
    <button ion-button round  (click)='shareProduct()' style="    border-radius: 86px;
        width: 0px;font-size: 18px;
        height: 34px;    padding: 0 1.6rem;
        color: rgba(128, 128, 128, 0.46);
        background-color: white;
        border: 1px solid rgba(128, 128, 128, -0.46);
    float:left;
    box-shadow: 1px 2px 3px 0px lightgrey;
        top: -24px;
        left: 15px;
        z-index: 999999999999999;">
    
    <ion-icon ios="ios-share-outline" md="md-share"></ion-icon>
    
    </button>
    
    
    <button ion-button round *ngIf='!product?.favorited' (click)='favorited(false)' style="    border-radius: 86px;
        width: 0px;
        height: 34px;font-size: 18px;    padding: 0 1.6rem;
        color: rgba(128, 128, 128, 0.46);
        background-color: white;
        border: 1px solid rgba(128, 128, 128, -0.46);
        top: -24px;
        right: 15px;float:right;
        z-index: 999999999999999;box-shadow: 1px 2px 3px 0px lightgrey;">
    
        <ion-icon ios="ios-heart" md="md-heart" ></ion-icon>
    
    </button>
    
    
    <button (click)='favorited(true)' *ngIf='product?.favorited && user' ion-button round style="    border-radius: 86px;
        width: 0px;font-size: 18px;
        height: 34px;    padding: 0 1.6rem;
        color: red;
        background-color: white;
        border: 1px solid rgba(128, 128, 128, -0.46);box-shadow: 1px 2px 3px 0px lightgrey;
    float:right;
        top: -24px;
        right: 15px;
        z-index: 999999999999999;">
    
        <ion-icon ios="ios-heart" md="md-heart" ></ion-icon>
    
    </button>
    </div>
  <ion-card-content>
    <br>
    <br>
<h3> {{ product_data?.name }} </h3>

<p>

    <span class="red-text" style="font-size: smaller;" [class.has_offer_price_label]="product_data?.off_price != ''">
        {{ product_data?.price }} 
        <span *ngIf="product_data?.off_price == ''">     تومان</span>
        </span>
    <span class="red-text"  *ngIf="product_data?.off_price != ''">
        {{ product_data?.off_price }}  تومان
    </span>






</p>

<!-- {{ product?.detail }} -->
  </ion-card-content>
</ion-card>










<div *ngIf='filter=="comments"'>


<ion-list padding>
  <ion-item padding *ngFor="let item of comments"  class="item-borderless" no-lines style="    margin-top: 10px;    height: 116px;">
    <h2>{{ item?.username }}</h2>
    <p>{{ item?.body }}</p>
  </ion-item>
</ion-list>


  <ion-textarea full
    placeholder=''
    [(ngModel)]="content"
  (ngModelChange)='onChange($event)' style="    border: 1px solid rgba(128, 128, 128, 0.41);
    border-radius: 5px;
    margin: 5px !important;
    width: 97%;" *ngIf='user'></ion-textarea>
<button ion-button full [disabled]="saveBTNDisable" (click)='saveComment()' *ngIf='user' right>ثبت نظر</button>
</div>

<div style="position:relative;top:-36px;" *ngIf='filter=="product_detail"'>
<!-- <ion-card>
  <ion-card-content>
 {{ product?.detail }}

  </ion-card-content>
</ion-card> -->


  <!--<ion-item (click)='goToExposition()'>
    <ion-avatar item-left>
      <img src="{{ product?.avatar }}">
    </ion-avatar>
    <h2>{{ product?.exposition_name }}</h2>
    <p>۲۲ اردیبهشت</p>
  </ion-item>-->

<br>



  <div padding>
<p>
  جنس : المینیوم
</p>
<p>
  رنگ: طوسی
</p>
<p>
  سایز: ۱۲ اینچ
</p>
  </div>


  <ion-card (click)="goToExposition()">

<br>
<img src="/assets/images/image-tmp/photo_2017-08-20_17-51-28.jpg" style="    margin-right: 14px;float:right;border-radius: 10%; box-shadow:1px 2px 12px 0 lightgrey;   width: 79px;
margin-top: -7px;
height: 79px;margin-left:10px;   border: 1px solid lightgray;" alt="">
<span style="color: black;
font-size: 2rem;">
{{ product?.exposition_name }}
</span>
<br>
<span>
    {{ product?.exposition_address }}
</span>
<br>
<br><br>

</ion-card>





<div style="     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);   
    margin: 12px;">
<ion-list>
  <ion-list-header style="    font-size: 15px;">
    مشخصات
  </ion-list-header>

    
  <ion-item style="    font-size: 13px;" (click)="goToExposition()">
      <ion-icon ios="ios-person" md="md-person"></ion-icon>

    نام فروشگاه:
    {{ product?.exposition_name }}
  </ion-item>

  <ion-item style="    font-size: 13px;">
      <ion-icon ios="ios-cash" md="md-cash"></ion-icon>

  قیمت: 


    <span  *ngIf='product?.off_price==""'  style='color:green;font-size: 0.9rem;'>{{ product?.price }}تومان</span>

   <span *ngIf='!product?.off_price==""'  style='color:red;text-decoration: line-through;font-size: 0.9rem;'>{{ product?.price }}تومان</span>

    <span  *ngIf='!product?.off_price==""' style='color:green;font-size: 0.9rem;' >
      {{ item?.off_price }}تومان
    </span>


  </ion-item>

  <ion-item style="    font-size: 13px;">
      <ion-icon ios="ios-albums" md="md-albums"></ion-icon>

  شاخه: 
  {{ product?.category }}

  </ion-item>

  <ion-item style="    font-size: 13px;" *ngFor='let item of product?.dynamic_fields'>
      <ion-icon ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>

    {{ item }}
  </ion-item>


</ion-list>
</div>



</div>



<ion-card style="height: 235px;margin-top:6px !important;">
    <h6 style="margin:auto;color: #FF0057;text-align:center;margin-top:10px;">
محصولات دیگیر این فروشگاه
    </h6>
    
    
    
    <ion-scroll direction="xy" overflow-scroll="true"  scrollX="true" scrollY="true" style="overflow: scroll;width:100vw;height: 270px;white-space: nowrap;">
        <ion-row>
                <ion-col col-6>
                    <product class="scroll-item" style="padding:10px;" *ngFor="let item of products" (click)="goToProduct($event,item)" [product]='item'></product>
                </ion-col>
        </ion-row>
    </ion-scroll>
    
            </ion-card>

            <br><br><br>
  <!--<ion-fab bottom left>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side='right'>
      <button ion-fab (click)='facebookShare()'><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab (click)='twitterShare()'><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab (click)='instagramShare()'><ion-icon name="logo-instagram"></ion-icon></button>

    </ion-fab-list>
  </ion-fab>-->


  <div style="z-index:9127105568;text-align:center;position:fixed;bottom:0;height:50px;background-color:white;left:0;right:0;width:100%;    padding-top: 10px;height:19vw;">

      <button (click)='presentPrompt()' ion-button style="width:45%;background-color:#ff0057;height:13vw;">
        گفتگو
      </button>

      <button ion-button (click)='presentPromptOffer()' style="width:45%;background-color:white;border:1px solid #ff0057;color: #ff0057;height:13vw;">
چونه
      </button>

  </div>




  <!-- <ion-footer>
      <div style="  position: fixed;
      bottom: 2vh;
      width: 100%;background-color:brown;">

salmflafnlkjasnfasklfnsjafnaslfjn

  </div>
  </ion-footer> -->


</ion-content>


