page-search {
.card{
    margin-top:0 !important;
}
}

 .segment-button {
    max-width: 100%;

}

.search {
.toolbar-ios .segment-button {
    max-width: 155px;
     height: 3.6rem;
}





// .toolbar-background,.toolbar-background .toolbar-background-ios{
//     background: white;
//     color:#FF0057;
// }


}
 .segment-button.segment-activated {
background-color: #FF0057 !important;
color: white !important;
}
.toolbar-ios .segment-button {

    line-height: 3.5rem !important;
    font-weight: bold !important;
}