
<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>جستجو</ion-title>

    	<ion-buttons left>
		
    <button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>



  </ion-navbar>

</ion-header>


  


<ion-content text-center class="search">

    <ion-searchbar animated='true' showCancelButton='true' dir="ltr" cancelButtonText='انصراف'  [(ngModel)]="q" (search)="search($event)" #input placeholder="جستجو"></ion-searchbar>

        <ion-segment [(ngModel)]="filter" class="sticky">
            
                  <ion-segment-button value="product"  style="background-color:transparent;border-color:transparent;color:#FF0057;">
            
            
            محصولات
            
                  </ion-segment-button>
                  <ion-segment-button value="exposition" style="background-color:transparent;border-color:transparent;color:#FF0057;">
            
            
            فروشگاه ها
            
                  </ion-segment-button>
                </ion-segment>




<div>



<div *ngIf='filter=="product"'>

  <div style="text-align:center;font-size:1.4rem;" padding *ngIf="products_empty">

      <ion-icon color='danger'  ios="ios-search" md="md-search"></ion-icon>


    <span>
      محصولی یافت نشد
    </span>
  </div>
  


<ion-grid style="margin-top: 0 !important;
padding-top: 0 !important;">
    <ion-row>
      <ion-col *ngFor="let item of products.products" (click)='goToProduct(item)' col-6><product [product]='item'></product></ion-col>
    </ion-row>

</ion-grid>


   



</div>


<div *ngIf='filter=="exposition"'>



  <div style="text-align:center;font-size:1.4rem;" padding *ngIf="expositions_empty">

      <ion-icon color='danger'  ios="ios-search" md="md-search"></ion-icon>


    <span>
فروشگاهی یافت نشد
    </span>
  </div>


 
  <ion-grid  style="margin-top: 0 !important;
  padding-top: 0 !important;">
      <ion-row>
        <ion-col  *ngFor="let item of expositions.expositions" col-6><exposition  [exposition]='item'></exposition></ion-col>
      </ion-row>
  
  </ion-grid>

   


 
        
<!-- <button ion-button outline *ngIf='!item.followed' (click)='toggleFollow($event,item,false)'>فالو</button>

<button ion-button outline *ngIf='item.followed' color="danger" (click)='toggleFollow($event,item,true)'>آنفالو</button> -->

   
   





  


</div>

</div>













</ion-content>
