<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->





  

<ion-content>


<ion-list>

  <ion-item *ngFor="let item of comments">
    <ion-avatar item-left>
      <img src="img/avatar-finn.png">
    </ion-avatar>
    <h2>{{ item?.username }}</h2>

    <p>{{ item?.body }}</p>
  </ion-item>

   



</ion-list>




  <ion-fab left bottom>
    <button ion-fab color="blue" (click)='presentProfileModal()'><ion-icon name="add"></ion-icon></button>

  </ion-fab>


</ion-content>


  <!--<ion-slides pager autoplay="5000" loop="true" speed="3000" height="100">
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
     <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
  </ion-slides>-->