ion-segment-button{
  border-color: #FF0057 !important;
}
ul {
  padding: 0px;
 
  &.rating li {

    background: none;
    color: #ffb400;
 
    ion-icon {
      font-size: 24px;
    }
  }
}
ul.rating[_ngcontent-c0] li[_ngcontent-c0] {
    display: inline;
    border: 0px;
    background: none;
     padding: 0 !important; 
}


 .shop .segment-ios .segment-button.segment-activated {
background-color: gray;
color:white !important;
}

.shop ion-icon ,.product_detail ion-icon{
    display: inline-block;
    font-size: 1.2em !important;
}

.shop .label-ios {
    margin: 0px 0px 8px 0 !important;
}

.shop{
ion-label,.input-wrapper,.item-inner,.item{
  overflow: visible !important;
}





.without_offer_price .item-inner{
  margin-top: 0 !important;
}
}
.shop .item-inner{
      margin-top: 36px;
}

page-shopdetail{
  ion-card,.card-ios{
    margin-top: 0px !important;
  }
  .shop .item-inner {
    margin-top: -10px !important;
    height: auto;
}
.shop .label-ios{
  margin-top:48px !important;
}
}
