<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-menu [content]="left" side="left" cache-view="false"  id="left" enabled="true" padding-top>
  <ion-content>



<ion-list radio-group style="padding-top: 53px;" [(ngModel)]='filter_form.category'>

  <ion-list-header style="font-size:15px;">
    شاخه
  </ion-list-header>

  <ion-item *ngFor="let item of filters?.categories">
    <ion-label style="font-size:14px;">{{ item.name }}</ion-label>
    <ion-radio value="{{ item.permalink }}"></ion-radio>
  </ion-item>


</ion-list>





<ion-list radio-group *ngFor='let item of filters?.dynamic_filters' [(ngModel)]='filter_form[item.permalink]'>

  <ion-list-header style="font-size:15px;">
    {{ item.name }}
  </ion-list-header>

  <ion-item *ngFor="let fil of item.props">
    <ion-label style="font-size:14px;">{{ fil.name }}</ion-label>
    <ion-radio value="{{ fil.permalink }}"></ion-radio>
  </ion-item>


</ion-list>

<ion-item class="item-borderless" no-lines>
  <ion-label>تخفیف دارها</ion-label>
  <ion-checkbox color="primary" checked="true" [(ngModel)]='filter_form.off_price'></ion-checkbox>
</ion-item>


  <button class="item-borderless" no-lines ion-button (click)='filteProducts()' style="width:100%;padding:0;margin:0;" menuClose full block>
<ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
    فیلترکن

  </button>


  </ion-content>
</ion-menu>







<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>فروشگاه {{ exposition_data.exposition_name }} </ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>




  <ion-buttons right>
      <button ion-button (click)='shareShop()' icon-only>
          <ion-icon ios="ios-share" md="md-share"></ion-icon>
          </button>

      <button ion-button (click)="presentPopover($event,item)" icon-only>
  <ion-icon ios="ios-more" md="md-more" style="    color: white;
  text-shadow: 0px 0px 3px black;
  float: left;
  font-size: 24px;

  margin-left: 10px;"></ion-icon>
      </button>
 
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="shop" #left overflow-scroll="true">




 

    <!-- {{ exposition?.avatar}} -->

<div padding>
 <img src="http://lorempixel.com/200/150/" style="  
    float:right;
    width: 65px;
    height: 65px;
    border-radius: 10%;
    margin-left:10px;
    box-shadow:1px 2px 12px 5px lightgrey;

    " right>

<span style="" padding-left  style="color:black;">
  {{ exposition?.exposition_name }}
</span>
<br>
<span>

  {{ exposition?.exposition_address }}
</span>
<br>
<span style="color:black;">

  {{ exposition?.exposition_details }}
</span>
 </div>






  <ion-grid padding style="text-align:center;    border-top: 1px solid rgba(211, 211, 211, 0.21);padding:0;color:#979797;">
  <ion-row>






      <ion-col (click)='follow(false)' *ngIf='!exposition?.followed' col-4 style="border-left: 1px solid lightgray;">

          <ion-icon ios="ios-add-circle" md="md-add-circle" style="font-size: 2em !important;color:black;"></ion-icon>
          
          <br>
          {{ exposition?.followers_size }} دنبال کننده
      </ion-col>
      <ion-col (click)='follow(true)' *ngIf='exposition?.followed' col-4 style="border-left: 1px solid lightgray;">

          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" style="    font-size: 2em !important;
          color: green;"></ion-icon>
          
          <br>
          {{ exposition?.followers_size + 1 }} دنبال کننده
      </ion-col>




      <ion-col col-4 style="border-left: 1px solid lightgray;">
        <ion-icon ios="ios-pricetag" md="md-pricetag" style="font-size: 1.8em !important;color:black;"></ion-icon>
        
        <br>
        {{ exposition?.products_size }} محصول
    </ion-col>
    <ion-col col-4 style="" (click)='goToConversation()'> 
        <ion-icon ios="ios-chatbubbles" md="md-chatbubbles" style="font-size: 1.8em !important;color:black;"></ion-icon>
        <br>
        <span>
چت
        </span>
    </ion-col>


  </ion-row>

</ion-grid>












  <!-- <img src="{{ exposition?.background }}" style="width:100%;height:183px;    filter: blur(1.3px);
    -moz-filter: blur(1.3px);
    -o-filter: blur(1.3px);
    -ms-filter: blur(1.3px);" *ngIf='exposition?.background != "undefined"' /> -->



  <!-- <div style="background-color:black;width:100%;height:183px;"  *ngIf='exposition?.background=="undefined"'></div> -->

 <!-- <div *ngIf="false" style="left: 40%;  position: absolute; top: 10px;text-align:center;">
  <div style="background-color:white; width: 65px;border-radius: 8px;text-align:center;
    height: 65px;border: 1px solid white;">

</div>

    <h6 style="text-align: center;

    font-size: 20px;
    font-weight: bold;
    margin-top: 4px;">
      {{ exposition?.exposition_name }}

    </h6>

    <h6  style="text-align: center;

    font-size: 14px;
    font-weight: bold;
    margin-top: 4px;">
{{ exposition?.exposition_address }}
    </h6>


<button (click)='goToTickets()' *ngIf='user' ion-button round style="    border-radius: 86px;
    width: 0px;
    height: 34px;    padding: 0 1.6rem;
    color: gray;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.46);

    float: left;
    top: 36px;
    left: -120px;
    z-index: 999999999999999;">

  <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>


</button>


 </div> -->

 
<!-- <div style="    background-color: #f4f4f4;
    position: relative;
    top: -47px;
    text-align: center;">
 <rating *ngIf='user' [(ngModel)]="rate" 
        readOnly="false" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false" 
        (ngModelChange)="onModelChange($event)"></rating>
</div> -->


    <ion-segment [(ngModel)]="filter" class="segment sticky">
      <ion-segment-button value="products" style="color:#FF0057;border-color: #FF0057;">


محصولات
      </ion-segment-button>
      <ion-segment-button value="comments" style="color:#FF0057;    border-color: #FF0057;">


درباره فروشگاه
      </ion-segment-button>
    </ion-segment>




<div style="    background-color: #f8f8f8;
    position: relative;
    ">



<div *ngIf='filter=="products"'>




<ion-list>

<ion-item  *ngIf='product_empty' style="text-align:center;">
<h3>  <ion-icon ios="ios-search" md="md-search"></ion-icon>
</h3>

محصول مورد نظر یافت نشد
</ion-item>



<ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let item of products">
          <product (click)='goToProduct(item)' [product]='item'></product>

      </ion-col>
   
    </ion-row>

</ion-grid>




   
   




</ion-list>


</div>


<div *ngIf='filter=="comments"'>





  <div >
    <span style="float:right;" padding-right>
      نمای فروشگاه
    </span><hr style="position: relative;
    top: 8px;
    color: #dadada;
    background-color: #dadada;
    height: 1px;">

  <ion-slides autoplay="5000" slidesPerView="2" dir="rtl"  style="width:100%;height:104px;" height='104' loop="true" speed="500">
  <ion-slide>
<img src="http://lorempixel.com/200/150/" style="    padding: 10px;width:250px;height:100px;" padding alt="">
  </ion-slide>
  <ion-slide>
<img src="http://lorempixel.com/200/150/" style="    padding: 10px;width:250px;height:100px;" padding alt="">
  </ion-slide>


    <ion-slide>
<img src="http://lorempixel.com/200/150/" style="    padding: 10px;width:250px;height:100px;" padding alt="">
  </ion-slide>
  <ion-slide>
<img src="http://lorempixel.com/200/150/" style="    padding: 10px;width:250px;height:100px;" padding alt="">
  </ion-slide>
</ion-slides>



  </div>


    <div>
    <span style="float:right;" padding-right>
     توضیحات فروشگاه
    </span><hr style="position: relative;
    top: 8px;
    color: #dadada;
    background-color: #dadada;
    height: 1px;">

<p padding>
آدرس:
{{ exposition?.exposition_address }}
<br>
<span (click)="callTo(exposition?.static_phone)">


تلفن:
{{ exposition?.static_phone }}
</span>
</p>


    <ion-icon ios="ios-car" md="md-car" style="position: relative;
    left: -92%;"></ion-icon>
    



    </div>



        <div>
    <span style="float:right;" padding-right>
نقشه
    </span><hr style="position: relative;
    top: 8px;
    color: #dadada;
    background-color: #dadada;
    height: 1px;">



    <img (click)='startExternalMap()' padding src="https://maps.googleapis.com/maps/api/staticmap?center=35.727327049071,51.3783466815948&zoom=16&size=640x320&maptype=roadmap&&key=AIzaSyARzj5KiclSxAqZSqrGGz00HmhF3XkuvGI
		&markers=icon:https://www.reyhoon.com/assets/img/map-marker.png?v=2|35.727327049071,51.3783466815948&
		language=fa&region=IR" alt="">

        </div>



        <div>
    <span style="float:right;" padding-right>
شعبه های دیگر
    </span><hr style="position: relative;
    top: 8px;
    color: #dadada;
    background-color: #dadada;
    height: 1px;">



  <ion-grid padding style="text-align:center;">
  <ion-row>

    <ion-col col-3> 

      <img src="https://maps.googleapis.com/maps/api/staticmap?center=35.727327049071,51.3783466815948&zoom=16&size=640x320&maptype=roadmap&&key=AIzaSyARzj5KiclSxAqZSqrGGz00HmhF3XkuvGI
		&markers=icon:https://www.reyhoon.com/assets/img/map-marker.png?v=2|35.727327049071,51.3783466815948&
		language=fa&region=IR" alt="" style="    border-radius: 10%;
    width: 60px;
    height: 60px;
    border: 1px solid lightgray;
    box-shadow: 1px 2px 3px 0px lightgrey;">

      <br>

      <span style="color:black;">  محمد</span>
      <br>
      <span style="font-size:10px;">
        تهران ازادی
      </span>


    </ion-col>

  </ion-row>
  </ion-grid>



        </div>




       <div>
    <span style="float:right;" padding-right>
نظرات
    </span><hr style="position: relative;
    top: 8px;
    color: #dadada;
    background-color: #dadada;
    height: 1px;">



<div padding style="   display: inline-block;
    width: 100%;">
<h1 right style="font-size: 43px;
text-align: left;color:#ff006f;
margin-top: 17px;
width: 41%;
float: left;

">
<span style="font-size:10px;color:black;">
    (۶۵ نفر)
      </span>
  4.3

</h1>


<div style="float:left;margin-top: 17px;width:57%;">
  
  <hr style="  border: none;
    height: 4px;
    width:100%;
    color: #02c72a; /* old IE */
    background-color: #02c72a;     margin-bottom: 2px;margin-top:0;">
 <hr style="  border: none;
    height: 4px;
    width:100%;
    color:#28ff00; /* old IE */
    background-color: #28ff00; margin-bottom: 2px;margin-top:0; ">

     <hr style="  border: none;
    height: 4px;
    width:100%;
    color:#ffee00; /* old IE */
    background-color: #ffee00; margin-bottom: 2px;margin-top:0; ">
     <hr style="  border: none;
    height: 4px;
    width:100%;
    color:#ff678b; /* old IE */
    background-color: #ff678b; margin-bottom: 2px;margin-top:0; ">
     <hr style="  border: none;
    height: 4px;
    width:100%;
    color:#f35757; /* old IE */
    background-color: #f35757; margin-bottom: 2px;margin-top:0; ">



     <rating style="    position: absolute;
     left: 45%;" *ngIf='user' [(ngModel)]="rate" 
        readOnly="false" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false" 
        (ngModelChange)="onModelChange($event)"></rating>

        <button ion-button style="   position: relative;
        padding: 0;
        left: 0%;
        top: 8px;
        font-size: 11px;
        width: 43px;
        height: 21px;background-color:#FF0057;">
        ثبت رای
              </button>



</div>

</div>
        </div>




        <div padding> 
            <ion-textarea *ngIf='user' full
            placeholder=''
            [(ngModel)]="content"
          (ngModelChange)='onChange($event)' style="    border: 1px solid rgba(128, 128, 128, 0.41);
            border-radius: 5px;
            margin: 5px !important;
            width: 97%;"></ion-textarea>
        
        <button ion-button *ngIf='user' full [disabled]="saveBTNDisable" (click)='saveComment()'  right>ثبت نظر</button>
        
        </div>

    


<ion-list >

  <ion-item  *ngFor="let item of comments"  class="item-borderless" no-lines style="    margin-top: 0;">
    <img src="http://lorempixel.com/200/150/" style="    border-radius: 10%;
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 10px;" alt="">
    
    <h2 style="margin-top:10px;">{{ item.username }}</h2>

    <p style="    margin-top: 8px;     word-break: break-all;   white-space: normal;
    width: 100%;">{{ item.body }}</p>
    <p style="border-bottom: 1px solid lightgray;">
      <br>
      <span style="
      font-size: 10px;
  ">
    {{ item.time_ago_in_words }}
      </span>

      <span style="color:black;margin-right:10px;">
                 
        پاسخ
        <ion-icon ios="ios-undo" md="md-undo"></ion-icon>   
      </span>
    </p>

  </ion-item>
</ion-list>




</div>

</div>








  <ion-fab left bottom *ngIf='filter=="products"' menuToggle="left">
    <button ion-fab color="primary">    <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>

</button>
  
  </ion-fab>



</ion-content>


  <!--<ion-slides pager autoplay="5000" loop="true" speed="3000" height="100">
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
     <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
  </ion-slides>-->