page-setting {
    .without-select-text ion-select .select-text{
        display: none;
    }
    ion-list-header{
        background-color: transparent !important;
    }

    .alert-wrapper{
        direction: ltr;
        text-align: right !important;
 
    }


    .alert-md .alert-checkbox-label {
        text-align: right !important;
    }
}
