<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger" hideBackButton>
    <ion-title>تنظیمات</ion-title>

    <ion-buttons left>
        <button ion-button navPop icon-only>
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content padding-top>


    <ion-list no-border>
        
            <ion-list-header style="font-weight: bold;font-size: 14px;">
               عمومی
            </ion-list-header>
        
           


            <ion-item class="item-borderless">
                
                <ion-label>
                    <ion-icon name='planet' item-end></ion-icon>
                  زبان
                    
                </ion-label>
                <ion-select name="name" interface="popover" padding okText="تایید" cancelText="لغو">
                  <ion-option  value="farsi" >فارسی</ion-option>
                  <ion-option  value="en" >انگلیسی</ion-option>
                </ion-select>
              </ion-item>


        

              <ion-item class="item-borderless without-select-text">
                  
                  <ion-label>
                      <ion-icon ios="ios-notifications" md="md-notifications" item-end></ion-icon>
                      اعلانات
                      
                  </ion-label>
                  <ion-select name="name" interface="alert" multiple="true" padding okText="تایید" cancelText="لغو">
                    <ion-option  value="farsi" >
                      پیام ها
                    </ion-option>
                    <ion-option  value="en" >
                      پیشنهادات
                    </ion-option>
                  </ion-select>
                </ion-item>


  
           
        
        
        
          </ion-list>
        
        
          <ion-list>
        
            <ion-list-header style="font-weight: bold;font-size: 14px;">
حساب کاربری
            </ion-list-header>
        
            <ion-item (click)='goToProfilePage()'>
             

              <ion-icon ios="ios-person" md="md-person" item-start></ion-icon>
              ویرایش پروفایل

            </ion-item>
        

            <ion-item>
                
                <ion-icon ios="ios-heart" md="md-heart" item-start></ion-icon>
                

علاقه مندی ها   
               </ion-item>

        
        
        
          </ion-list>
        
          <ion-list>
        
            <ion-list-header style="font-weight: bold;font-size: 14px;">
              درباره پینسود 
            </ion-list-header>

            <ion-item>
                

                <ion-icon ios="ios-star" md="md-star" item-start></ion-icon>
                
امتیاز دادن
               </ion-item>
        
               <ion-item>
                  
                  <ion-icon ios="ios-call" md="md-call" item-start></ion-icon>
                  
                 
                  
پشتیبانی                  
                 </ion-item>
        
                 <ion-item>
                    

                    <ion-icon ios="ios-alert" md="md-alert" item-start></ion-icon>
                    
قوانین و مقررات
                   </ion-item>
        
                   <ion-item>
                      

                      <ion-icon ios="ios-people" md="md-people" item-start></ion-icon>
                      
درباره ما
                     </ion-item>
                   <ion-item>
        
                      
                      
                      
    نسخه اپلیکیشن


    <span item-end right style="float: left;
    color: lightgray;
    font-size: 13px;
    margin-top: 8px;">
      v0.1.2
    </span>
                     </ion-item>

          </ion-list>
        

</ion-content>
