<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>دنبال کنندگان</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>


<ion-content>
  
    <ion-list dir="ltr">
        <ion-item-sliding dir="ltr">
          <ion-item dir="rtl" style="text-align:rtl;">
            <ion-avatar item-end right>
              <img src="img/slimer.png" style="  
              
                              width: 65px;
                              height: 65px;
                              border-radius: 10%;
                              margin-left:10px;
                              box-shadow:1px 2px 12px -1px lightgrey;
                              float: right;
                              ">
            </ion-avatar>
            <h2 right>
              محمد محمودی
            </h2>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger">
              <ion-icon name="mail"></ion-icon>
              حذف
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>


</ion-content>
