  
<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>ثبت نام</ion-title>

    	<ion-buttons left>
		<button ion-button (click)='goToRoot()' icon-only>
                <ion-icon ios="ios-close" md="md-close"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>
 
 
<ion-content padding>

  

        <ion-slides style="z-index:1;" dir="ltr" [formGroup]="signup_group" #signupSlider >
                
                 <ion-slide dir="rtl">

 
 

                 <!--
         <span class="error_message" *ngIf="!signup_group.controls.name.valid  && (signup_group.controls.name.dirty || submitAttempt)">
فیلد نام نامعتبر است
         </span> -->



<!-- 

                <ion-item [ngClass]="(!signup_group.controls.name.valid  && (signup_group.controls.name.dirty || submitAttempt)) ? 'borderRed' : 'borderGreen'">
                    <ion-label><ion-icon name="person"></ion-icon></ion-label>
                    <ion-input formControlName="name" [(ngModel)]="name" placeholder="نام و نام خانوادگی" type="text"></ion-input>
                </ion-item> -->


  


<!-- 
                <ion-item [ngClass]="(!signup_group.controls.email.valid  && (signup_group.controls.email.dirty || submitAttempt)) ? 'borderRed' : 'borderGreen'">
                    <ion-label><ion-icon name="mail"></ion-icon></ion-label>
                    <ion-input [(ngModel)]="email" formControlName="email" placeholder="ایمیل" type="email"></ion-input>
                </ion-item> -->


                    <ion-item>

                        <ion-input [(ngModel)]="phone" formControlName="phone" type="text" placeholder="تلفن" value=''></ion-input>
                       
                    </ion-item>


 
                <ion-item>
                    <ion-input [(ngModel)]="password" formControlName="password" type="password" value='' placeholder='رمز عبور'></ion-input>
                </ion-item>
 


 

                <ion-item>

 <p style="text-align:center;">
        <!-- <button ion-button (click)="goToHome()" class="skip-login">ورود به برنامه</button> -->
        <button ion-button (click)="level2()" class="continue-button next-btn" style="width:45%;top:108%;">ثبت نام</button>
        
        <span style="    display: block;
        position: absolute;
        top: 183%;
        color: white;
        right: 26%;">
        برای ثبت نام فروشگاه
        </span>
        <button ion-button (click)="goToSignupExposition()" class="continue-button next-btn" style="color:white;width:45%;background-color:transparent;border: 1px solid white;    position: absolute;
        top: 194%;">
                ثبت نام فروشگاه
         </button>
        
        </p>
                </ion-item>

       

         


 

 
                <p style="text-align:center;">
                        <!-- <button ion-button (click)="goToHome()" class="skip-login">ورود به برنامه</button> -->
                       
                        
                        <span style="    display: block;
               
                        color: white;
">
                        برای ثبت نام فروشگاه
                        </span>
                        <button ion-button (click)="goToSignupExposition()" class="continue-button next-btn" style="color:white;width:45%;background-color:transparent;border: 1px solid white;">
                                ثبت نام فروشگاه
                         </button>
                        
                        </p>
 
 

</ion-slide>

<ion-slide dir="rtl">



<div style=" float: right;   border: 1px solid white;
color: white;
font-size: 77px;
width: 30%;
height: 92px;    margin-top: 27px;">
        <ion-icon ios="ios-person" md="md-person"></ion-icon>
        
</div>


<ion-item style="  width:70%;  height: 78px;
margin-top: -12px;">

        <ion-input formControlName="name" placeholder='نام' type="text" value=''></ion-input>
       
    </ion-item>

    <ion-item style="  width:70%;  height: 78px;
    margin-top: -15px;">

            <ion-input formControlName="family" placeholder='نام خانوادگی' type="text" value=''></ion-input>
           
        </ion-item>




   
            <ion-list style="margin:0 !important;">
                    <ion-item style="  width: 95%;  border-bottom: 1px solid white !important;">
                      <ion-label>جنسیت</ion-label>
                      <ion-select formControlName="gender" multiple="false" cancelText="انصراف" okText="حله" >
                    
                        <ion-option  value="mard">مرد</ion-option>
                        <ion-option  value="zan">زن</ion-option>

                      </ion-select>
                    </ion-item>
                  </ion-list>




                    <!-- <ion-datetime  placeholder='تاریخ تولد' ></ion-datetime> -->
                    

                    <ion-item style=" width:95%;  border-bottom: 1px solid white !important;">
                            <ion-label>تاریخ تولد</ion-label>
                            <ion-datetime displayFormat="MM/DD/YYYY" formControlName="date" ></ion-datetime>
                          </ion-item>
                   


                <ion-item style="    margin-right: -12px;    width: 104%;">

                        <ion-input formControlName="email" placeholder='ایمیل' type="email" value=''></ion-input>
                       
                    </ion-item>

                    <button ion-button (click)="register()" class="continue-button next-btn" style="width:45%;">تکمیل اطلاعات</button>
    </ion-slide>



    </ion-slides>

</ion-content>