<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>نزدیک ترین فروشگاه ها</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>



<ion-content>


  <ion-segment [(ngModel)]="nearby" class="sticky">
    <ion-segment-button value="list">
      لیست
    </ion-segment-button>
    <ion-segment-button value="map">
      نقشه
    </ion-segment-button>
  </ion-segment>


  



<div [ngSwitch]="nearby">
  
 <div [style.left]="nearby == 'map' ? '0' : '100%'" style="position:absolute;" #map id="map"></div>  

<div *ngSwitchCase="'list'">

  <div style="text-align:center;font-size:1.4rem;" padding *ngIf="expositions_empty">

      <ion-icon color='danger'  ios="ios-search" md="md-search"></ion-icon>


    <span>
فروشگاهی در نزدیگی شما یافت نشد
    </span>
  </div>
<ion-list padding>




  <ion-item padding *ngFor="let item of expositions" class="item-borderless" no-lines style="    margin-top: 10px;    height: 116px;">


   
    <ion-thumbnail (click)='goToExposition($event,item)' item-start style="float: right;
    margin-left: 11px;">
      <img src="{{ item.avatar }}" style="    float: right;">
    </ion-thumbnail>

    <h4 (click)='goToExposition($event,item)'>{{ item.exposition_name }}</h4>




    <h6 (click)='goToExposition($event,item)' style='font-size: 0.7rem;' >
      {{ item.exposition_details }}
    </h6>


   


    <span style="float: left;">
        
<button ion-button outline *ngIf='!item.followed' (click)='toggleFollow($event,item,false)'>فالو</button>

<button ion-button outline *ngIf='item.followed' color="danger" (click)='toggleFollow($event,item,true)'>آنفالو</button>

   
   
    </span>




  </ion-item>
</ion-list>
</div>





 





</div>




 


</ion-content>

