

<ion-header>

  <ion-navbar color='danger' hideBackButton>
    <ion-title>پیام ها</ion-title>

    	<ion-buttons left>
		<button ion-button navPop icon-only>
  <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
		</button>
	</ion-buttons>


  </ion-navbar>

</ion-header>
  

<ion-content>
    <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)" placeholder="جستجو">
  </ion-searchbar>

  <div style="text-align:center;font-size:1.4rem;" padding *ngIf="tickets_empty">

      <ion-icon color='danger'  ios="ios-search" md="md-search"></ion-icon>


    <span>
شما پیامی ندارید
    </span>
  </div>



<ion-list>


  <ion-item *ngFor="let item of tickets" (click)="goToConversation($event,item)">

      <img src="{{ item?.avatar }}" style="               width: 65px;
      height: 65px;
      border-radius: 10%;
      margin-left:10px;
      box-shadow:1px 2px 12px -1px lightgrey;
      float: right;">

    <h2 style="    font-weight: bold;">{{ item?.from }}</h2>
    <p style="color:black;">{{ item?.last_message }}</p>
    <p style="font-size:9px;">

{{ item?.time_ago_in_words }}
      <span style="    background-color: #03a9f4;
      width: 20px;
      height: 20px;
      display: block;
      float: left;
      padding: 5px;
      border-radius: 50%;
      padding-right: 8px;
      color: white;
      font-weight: bold;" *ngIf='item?.new_messages_size != 0'>
        {{ item?.new_messages_size }}
      </span>
    </p>
  </ion-item>
</ion-list>
</ion-content>


  <!--<ion-slides pager autoplay="5000" loop="true" speed="3000" height="100">
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
    <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
     <ion-slide >
      <img src="https://unsplash.it/200/300/?random">
    </ion-slide>
  </ion-slides>-->